<!DOCTYPE html>
<html lang="ru">
	
<head>
	<meta charset="utf-8">
	
	<!--[if IE]> <meta http-equiv="X-UA-Compatible" content="IE=edge"> <![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<title>Admin panel</title>

	<meta name="description" content="">
	<meta name="keywords" content="">

	<base href="">

	<!-- Font Awesome -->
	<!-- <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet"> -->
	<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet"> -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" rel="stylesheet">
	<!-- Bootstrap core CSS -->
	<link href="/admin/css/bootstrap.min.css" rel="stylesheet">
	<!-- Material Design Bootstrap -->
	<link href="/admin/css/mdb.min.css" rel="stylesheet">

	<!-- User Style -->
	<link href="/admin/css/style.css" rel="stylesheet">

	<style>
		.profile_container{
			display: flex;
			margin: 30px;
			border-bottom: 1px solid gray;
		}
		.profile_container .image_container{
			height: 200px;
			width: 200px;
			margin-top: 10px;
			margin-bottom: 10px;
		}
		.profile_container .image_container img{
			height: 200px;
			width: 200px;
			border-radius: 50px;
		}
		.profile_container .info_container{
			margin-left: 30px;
			padding: 10px;
		}
	</style>

</head>

<body class="grey lighten-2">

	<header>
		<!-- Main menu -->
		<!-- <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar"> -->
		<nav class="navbar fixed-top navbar-expand-lg navbar-light grey lighten-3 scrolling-navbar">
			<div class="container-fluid">
				<a href="#!" class="navbar-brand waves-effect"><img src="/admin/img/d_logo_mini.png" alt="Logo dashboard" class="img-fluid w-50"></a>
				<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

				<div class="collapse navbar-collapse" id="navbarContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a href="/home" class="nav-link waves-effect"><i class="fas fa-home"></i> Home</a>
						</li>
						
						<li class="nav-item">
							<a href="#!" class="nav-link waves-effect"><i class="fas fa-folder-open"></i> Resources</a>
						</li>
						<li class="nav-item">
							<a href="#!" class="nav-link waves-effect"><i class="far fa-file-alt"></i> Pages</a>
						</li>
			
					</ul>

					<ul class="navbar-nav nav-flex-icon">
						<li class="nav-item mr-2">
							<a href="#!" class="nav-link border border-light rounded waves-effect"><i class="fab fa-facebook-f"></i></a>
						</li>
						<li class="nav-item mr-2">
							<a href="#!" class="nav-link border border-light rounded waves-effect"><i class="fab fa-twitter"></i></a>
						</li>
						<li class="nav-item mr-2">
							<a href="/home/userprofile" class="nav-link border border-light rounded waves-effect" target="_blank"><i class="fab fa-github mr-2"></i><%= loggedInUser.username %></a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- /.Main menu -->

		<!-- Sidebar -->
		<div class="sidebar-fixed position-fixed grey lighten-4">
			<a href="#!" class="logo-wrapper waves-effect">
				<img src="/admin/img/d_logo.png" alt="Logo" class="img-fluid">
			</a>

			<div class="list-group list-group-flush">
				<% if (loggedInUser && loggedInUser.username) { %>
					<a href="/home/admin" class="list-group-item list-group-item-action waves-effect grey lighten-4"><i class="fas fa-chart-pie mr-3"></i>Dashboard</a>
				<a href="/home/profile" class="list-group-item list-group-item-action waves-effect active"><i class="fa fa-user mr-3"></i>Profile</a>
				<a href="/home/massage" class="list-group-item list-group-item-action waves-effect grey lighten-4"><i class="fa fa-table mr-3"></i>Massage</a>
				<a href="/home/project" class="list-group-item list-group-item-action waves-effect grey lighten-4"><i class="fa fa-map mr-3"></i>Project</a>
				<a href="/home/userprofile" class="list-group-item list-group-item-action waves-effect grey lighten-4"><i class="fa fa-map mr-3"></i>My Profile</a>
				<a href="/home/adminregistration" class="list-group-item list-group-item-action waves-effect grey lighten-4"><i class="fa fa-map mr-3"></i>Add New Admin</a>
				<a href="/" class="list-group-item list-group-item-action waves-effect grey lighten-4" onclick="logout()"><i class="fas fa-money-bill-alt mr-3"></i>Logout</a>
					<% } else { %>
						<a href="/home/admin" class="list-group-item list-group-item-action waves-effect grey lighten-4"><i class="fas fa-chart-pie mr-3"></i>Dashboard</a>
				<a href="/home/profile" class="list-group-item list-group-item-action waves-effect active"><i class="fa fa-user mr-3"></i>Profile</a>
				<a href="/home/massage" class="list-group-item list-group-item-action waves-effect grey lighten-4"><i class="fa fa-table mr-3"></i>Massage</a>
				<a href="/home/project" class="list-group-item list-group-item-action waves-effect grey lighten-4"><i class="fa fa-map mr-3"></i>Project</a>
				<a href="/" class="list-group-item list-group-item-action waves-effect grey lighten-4"><i class="fas fa-money-bill-alt mr-3"></i>Login</a>
						<% } %>
			</div>
		</div>
		<!-- /.Sidebar -->

	</header>

	<main class="pt-5 mx-lg-5">
		
		<!-- Breadcrumbs & Search -->
		<div class="container-fluid mt-5 pl-0 pr-0">
			<div class="card mb-4 wow fadeIn grey lighten-4">
				<div class="card-body d-sm-flex justify-content-between">
					<h4 class="mb-2 mb-sm-0 pt-1">
						<a href="#!">Home</a>
						<span>/</span>
						<span>User Profile</span>
					</h4>

					<form class="d-flex justify-content-center">
						<input type="search" class="fom-control" placeholder="Type your query">
						<button class="btn btn-primary btn-sm my-0 p" type="submit"><i class="fa fa-search"></i></button>
					</form>
				</div>
			</div>
		</div>
		<% for(var i=0; i<data.length; i++) {%>
			<div class="profile_container">
				<div class="image_container">
					<img src="/uploads/avatars/<%= data[i].avatar %>" alt="">
				</div>
				<div class="info_container">
					<h3><%= data[i].name %></h3>
					<p>This site has been created By Engr. Sifat</p>
					 <p>Email: <%= data[i].email %></p>
					 <p>Phone: <%= data[i].mobile %></p>
					 <p>Role: <%= data[i].role %></p>
				</div>
			</div>		
		 <% } %>
	</main>

	<!--Footer-->
	<footer class="page-footer text-center font-small grey darken-1 mt-4 wow fadeIn">

		<!--Call to action-->
		<div class="pt-4">
			<a class="btn btn-outline-white" href="" role="button">Created By Engineer Sifat<i class="fa fa- ml-2"></i></a>
		</div>
		<!--/.Call to action-->
	
		<hr class="my-4">
	
		<!-- Social icons -->
		<div class="pb-4">
			<a href="#!">
				<i class="fab fa-facebook-f mr-3"></i>
			</a>
	
			<a href="#!">
				<i class="fab fa-twitter mr-3"></i>
			</a>
	
			<a href="#!">
				<i class="fab fa-youtube mr-3"></i>
			</a>
	
			<a href="#!">
				<i class="fab fa-google-plus mr-3"></i>
			</a>
	
			<a href="#!">
				<i class="fab fa-dribbble mr-3"></i>
			</a>
	
			<a href="#!">
				<i class="fab fa-pinterest mr-3"></i>
			</a>
	
			<a href="#!">
				<i class="fab fa-github mr-3"></i>
			</a>
	
			<a href="#!">
				<i class="fab fa-codepen mr-3"></i>
			</a>
		</div>
		<!-- Social icons -->
	
		<!--Copyright-->
		<div class="footer-copyright py-3">
			© 2022 Copyright:
			<a href="Sifat" target="_blank"> Sifat </a>
		</div>
		<!--/.Copyright-->
	
	</footer>
	<!--/.Footer-->

<!-- END -->

<!-- jQuery -->
<script src="/admin/js/jquery-3.4.1.min.js" type="text/javascript"></script>
<!-- Bootstrap tooltips -->
<script src="/admin/js/popper.min.js" type="text/javascript"></script>
<!-- Bootstrap core JavaScript -->
<script src="/admin/js/bootstrap.min.js" type="text/javascript"></script>
<!-- MDB core JavaScript -->
<script src="admin/js/mdb.min.js" type="text/javascript"></script>

<!-- User JavaScript -->
<script src="/admin/js/common.js"></script>

</body>
</html>